exportPattern("^[[:alpha:]]+")
import(parallel, methods, stats4)
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "legend", "lines", "mtext", "par",
             "points", "title")
importFrom("stats", "Box.test", "acf", "complete.cases", "cor.test",
             "ks.test", "lm", "lowess", "na.exclude", "nlminb", "optim",
             "pchisq", "predict", "qchisq", "qnorm", "quantile", "rexp")
importFrom("car", "qqPlot") 

exportClasses("mlePP")
exportMethods( "extractAIC", "profile")

