exportPattern("^[[:alpha:]]+")
import(methods, parallel, stats4, car)
importFrom("grDevices", "dev.new")
importFrom("graphics", "abline", "legend", "lines", "mtext", "par",
             "points", "title")
importFrom("stats", "Box.test", "acf", "complete.cases", "cor.test",
             "ks.test", "lm", "lowess", "na.exclude", "nlminb", "optim",
             "pchisq", "predict", "qchisq", "qnorm", "quantile", "rexp")

exportMethods(
    "extractAIC",
    "profile" 
)
exportClasses(
    "mlePP" 
)
